<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ksmart.project.test26.mapper.CompanyMapper">
	<resultMap type="ksmart.project.test26.service.CompanyAndCompanyFile" id="CompanyAndCompanyFileMap">
		<id column="company_id" property="companyId"/><!--프라이머리키 -->
		<result column="company_name" property="companyName"/>
		<collection property="list" ofType="ksmart.project.test26.service.CompanyFile">
			<id column="company_file_id" property="companyFileId"/>
			<result column="file_name" property="fileName"/>
			<result column="file_ext" property="fileExt"/>
			<result column="file_size" property="fileSize"/>
		</collection>
	</resultMap>
	
	
	<!--select 회사 파일 조회  -->
	<select id="selectCompanyJoinFile" parameterType="int" resultMap="CompanyAndCompanyFileMap">
		SELECT 
			c.company_id 
			,c.company_name 
			,f.company_file_id 
			,f.file_name 
			,f.file_ext 
			,f.file_size 
		FROM company c INNER JOIN company_file f 
		ON c.company_id = f.company_id 
		WHERE c.company_id=#{coampanyId}
	</select>
	
	<!--insert 회사 파일 추가  -->
		<insert id="insertComapnyFile" parameterType="ksmart.project.test26.service.CompanyFile">
			INSERT INTO company_file(
				company_id
				,file_name
				,file_ext
				,file_size
			) VALUES (
				#{companyId}
				,#{fileName}
				,#{fileExt}
				,#{fileSize}
			)
		</insert>
	
	<!--select 전체 회사  수 페이징 -->
	<select id="selectCompanyCountByPage" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) AS countCompany 
		FROM company 
			<if test="word != null">
				WHERE company_name LIKE CONCAT("%", #{word}, "%")
			</if>
	</select>
	
	<!--select 회사 조회 페이징  -->
	<select id="selectCompanyListByPage" parameterType="java.util.Map" resultType="ksmart.project.test26.service.Company">
		SELECT 
			company_id AS companyId
			, company_name AS companyName 
		FROM company
			<if test="word != null">
				WHERE company_name LIKE CONCAT("%", #{word}, "%")
			</if>
		LIMIT #{startRow}, #{rowPerPage}
	</select>
	
	<!--전체 회사list조회   -->
	<select id="selectCompanyList" resultType="ksmart.project.test26.service.Company">
		SELECT 
			company_id as companyId
			,company_name as companyName 
		FROM company
	</select>
	
	<!--회사 추가 -->
	<insert id="insertCompany" useGeneratedKeys="true" keyProperty="companyId">
		INSERT INTO company (company_name) VALUES (#{companyName})
	</insert>
	
	<!--회사 수정을 위해 아이디값을 조회 -->
	<select id="selectCompanyId" parameterType="int" resultType="ksmart.project.test26.service.Company">
		SELECT 
			company_id as companyId
			,company_name as companyName 
		FROM company 
		WHERE company_id=#{companyId}
	</select>
	
	<!-- 회사 수정 -->
	<update id="updateCompany" parameterType="ksmart.project.test26.service.Company">
		UPDATE company 
		SET company_name=#{companyName} 
		WHERE company_id=#{companyId}
	</update>
	
	<!--회사 삭제  -->
	<delete id="deleteCompany" parameterType="ksmart.project.test26.service.Company">
		DELETE 
		FROM company 
		WHERE company_id=#{companyId} 
	</delete>
</mapper>